
@import "share/Reset.less";
@import "share/Mixins.less";

html, body {
	width: 100%;
	height: 100%;
}

@font-face {
	font-family: 'SegoeUI-Semibold';
	src: url('../fonts/SegoeUI-Semibold/SegoeUI-Semibold.eot');
	src: url('../fonts/SegoeUI-Semibold/SegoeUI-Semibold.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/SegoeUI-Semibold/SegoeUI-Semibold.woff2') format('woff2'),
			 url('../fonts/SegoeUI-Semibold/SegoeUI-Semibold.woff') format('woff'),
			 url('../fonts/SegoeUI-Semibold/SegoeUI-Semibold.ttf')  format('truetype'),
			 url('../fonts/SegoeUI-Semibold/SegoeUI-Semibold.svg#svgFontName') format('svg');
	font-weight: 400;
	font-style: normal;
}

._hidden {
	display: none;
}

.Lobby {
	width: 100%;
	height: 100%;
	background: #666;
	position: relative;

	&-logo {
		.absolute-center-x(440px);
		top: 100px;
		.font-header(#FFE225, 100px, 100px, center);
		text-shadow: 5px 5px 0 #444, 5px 5px 50px #444;
	}

	&-login {
		.absolute-center(400px, 520px);
		background: #ccc;
		box-shadow: 5px 5px 0 0 #444, 5px 5px 50px #444;

		&-input {
			margin: 30px 30px 10px 30px;
			height: 50px;
			width: 340px;
			background: #fff;
			padding: 10px 20px;
			.font(#444, 20px, 20px, center);
		}

		.button-mix(@col) {
			.clickable;
			margin: 20px 30px 0px 30px;
			background: @col;
			.font-header(#fff, 34px, 60px, center);
			box-shadow: 5px 5px 0 0 darken(@col, 20%);
			&:hover {
				background: lighten(@col, 5%);
			}
			&:active {
				margin-top: 25px;
				margin-left: 35;
				margin-bottom: -5px;
				box-shadow: none;
			}
		}

		&-button {
			.button-mix(#21BC4B);
			&._red {
				.button-mix(#D82C00);
			}
			&._purple {
				.button-mix(#A917B9);
			}
			&._blue {
				.button-mix(#01B3C8);
			}
		}
	}
}

.Game {
	width: 100%;
	height: 100%;
	background: #222;

	&-close {
		.clickable;
		.absolute-rect-right(20px, 20px, 50px, 50px);
		background: #FF3500;
		.font-header(#fff, 34px, 50px, center);
		box-shadow: 5px 5px 0 0 #B42A06;
		z-index: 2;

		&:hover {
			background: lighten(#FF3500, 5%);
		}
		&:active {
			right: 15px;
			top: 25px;
			box-shadow: none;
		}
	}

	&-exp-item {
		.absolute-center-x(400px);
		top: 75%;
		z-index: 2;
		.font-bold(#fff, 32px, 32px, center);
		text-shadow: 2px 2px 0 #333;
		animation: score-animation 1.2s linear forwards;
		&-gold {
			color: #FFD100;
		}
	}

	&-status {
		.absolute-rect-bottom(20px, 20px, 180px, auto);
		z-index: 2;
		padding: 10px;
		background: #ccc;
		box-shadow: 4px 4px 0 #444;

		&-item {
			margin-bottom: 5px;
			&-value {
				.font-bold(#028DD0);
			}
		}
	}

	&-top {
		.absolute-rect-right(15px, 96px, 260px, auto);
		z-index: 2;

		&-line {
			position: relative;
			.clearfix;
			margin-bottom: 8px;
			padding-right: 8px;
			.font(#000000, 16px, 28px, right);

			&:last-child {
				margin-bottom: 0;
			}

			&-bgbase {
				opacity: 0.7;
				.absolute-rect(0, 0, 100%, 100%);
				background-color: #ffffff;
			}
			&-bg {
				opacity: 0.7;
				.absolute-rect-right(0, 0, 100%, 100%);
				background-color: #ffffff;
			}
			&-pos {
				position: relative;
				margin-right: 10px;
			}
			&-nick {
				position: relative;
				margin-right: 10px;
			}
			&-score {
				position: relative;
			}
		}
	}

	&-lives {
		.absolute-rect-right(12px, 16px, 260px, auto);
		z-index: 2;
		&-line {
			.clearfix;
			.font(#000000, 18px, 32px, right);
			.float-column-right(200px, 0);
			margin-bottom: 8px;
			padding-right: 8px;
			position: relative;
			margin-right: 32px;
			&:before {
				content: '';
				opacity: 0.7;
				.absolute-bounds(0, 0, 0, 0);
				z-index: -1;
			}
			&:after {
				content: '';
				.absolute-rect-right(0, 0, 25px, 25px);
				background-image: url('../img/game/heart.png');
				background-size: 25px 25px;
				right: -30px;
				top: 4px;
			}
			&:last-child {
				margin-bottom: 0;
				margin-right: 32px;
			}
			&:nth-child(1) {
				width: 100%;
				&:before {
					background-color: #24952d;
				}
			}
			&:nth-child(2) {
				width: 50%;
				&:before {
					background-color: #ba0707;
				}
			}
		}
	}

	&-minimap {
		.absolute-rect(20px, 20px, 160px, 160px);
		z-index: 2;
		border: 5px solid #ccc;
		background: #ccc;
		box-shadow: 4px 4px 0 #444;

		&-img {
			.bounds(150px, 150px);
			background: #444;
		}
		&-me {
			.absolute-rect(50%, 50%, 8px, 8px);
			margin: -4px 0 0 -4px;
			background: #00E0FF;
			border-radius: 4px;
		}
	}

	&-systemstat {
		.absolute-rect-bottom-right(15px, 15px, auto, auto);
		z-index: 2;
		&-line {
			.font(#fff, 16px, 20px, right);
		}
	}

	&-results {
		.absolute-bounds(0, 0, 0, 0);
		z-index: 2;
		background: #222;

		&-block {
			.absolute-center(360px, 360px);
			font-family: 'SegoeUI-SemiBold', sans-serif;
		}
		&-header {
			.font(#fff, 48px, 1, center);
			text-transform: uppercase;
			margin-bottom: 30px;
		}
		&-round {
			margin-top: 34px;
		}
		&-line {
			.clearfix;
			.font(#fff, 24px, 1, left);
			text-transform: uppercase;
			margin-left: 32px;
			margin-bottom: 12px;
			&-name {
				.float-column(110px, 6px);
			}
			&-num {
				.float-column(50px, 10px);
			}
			&-mult {
				.float-column(46px, 10px);
				text-align: right;
				text-transform: lowercase;
			}
			&-equal {
				.float-column(16px, 10px);
			}
			&-sum {
				.float-column(40px, 10px);
			}
		}
		&-total {
			.clearfix;
			.font(#fffc00, 24px, 42px, left);
			margin-top: 14px;
			&-name {
				.float-column(258px, 6px);
				text-align: right;
				text-transform: uppercase;
			}
			&-equal {
				.float-column(16px, 10px);
			}
			&-sum {
				.float-column(40px, 10px);
			}
		}
		&-pvp {
			.font(#fff, 26px, 36px, center);
			text-transform: uppercase;
			margin-bottom: 90px;
			&-green {
				color: #2acc38;
			}
			&-red {
				color: #cc2d2a;
			}
		}
		&-button {
			.button-mix(@col) {
				.clickable;
				margin: 75px 10px 0px 10px;
				background: @col;
				.font-header(#fff, 28px, 54px, center);
				box-shadow: 5px 5px 0 0 darken(@col, 20%);
				text-transform: uppercase;
				&:hover {
					background: lighten(@col, 5%);
				}
				&:active {
					margin-top: 80px;
					margin-left: 15px;
					margin-bottom: -5px;
					box-shadow: none;
				}
			}
			.button-mix(#21BC4B);
			&._red {
				.button-mix(#D82C00);
			}
			&._purple {
				.button-mix(#A917B9);
			}
			&._blue {
				.button-mix(#01B3C8);
			}
		}
	}

	&-gameover {
		.absolute-bounds(0, 0, 0, 0);
		z-index: 2;
		background: #222;

		&-button {
			@col: #07d;
			.clickable;
			margin: 20px 30px 0px 30px;
			background: @col;
			.font-header(#fff, 34px, 60px, center);
			box-shadow: 5px 5px 0 0 darken(@col, 20%);
			&:hover {
				background: lighten(@col, 5%);
			}
			&:active {
				margin-top: 25px;
				margin-left: 35;
				margin-bottom: -5px;
				box-shadow: none;
			}
		}
	}

}

@keyframes score-animation {
	0% {
		opacity: 0.0;
		transform: translate(0, 30px);
	}
	25% {
		opacity: 1.0;
		transform: translate(0, 20px);
	}
	75% {
		opacity: 1.0;
		transform: translate(0, 10px);
	}
	100% {
		opacity: 0.0;
		transform: translate(0, 0);
	}
}