<!doctype html>
<html lang="ru-RU">
<head>
	<title>PLIX</title>
	<link rel="stylesheet" href="css/index.{{ timestamp }}.css">
	<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />

	<!-- display setup -->
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-touch-fullscreen" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, minimal-ui">

	<!-- source -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.0.0/pixi.min.js"></script>
	<script src="js/main.{{ timestamp }}.js"></script>

	<style>
		html, body {
			padding: 0;
			margin: 0;
		}
	</style>

</head>
<body class="Body">

	<div class="Lobby" id="lobby" controller="Lobby">
		<div class="Lobby-logo">PLIX</div>
		<div class="Lobby-login" id="login" controller="Login">
			<input class="Lobby-login-input" type="text" name="nameInput" value="" placeholder="Имя игрока" />
			<div class="Lobby-login-button" onclick="login.startGame('base')">БАЗА</div>
			<div class="Lobby-login-button" onclick="login.startGame('original')">ОРИГИНАЛ</div>
			<div class="Lobby-login-button _red" onclick="login.startGame('towers')">ВЫШКИ</div>
			<div class="Lobby-login-button _purple" onclick="login.startGame('mines')">ШАХТЫ</div>
			<div class="Lobby-login-button _blue" onclick="login.startGame('pvp')">PvP</div>
		</div>
	</div>

	<div class="Game _hidden" id="game" controller="Game">
		<div class="Game-close" onclick="game.close()">X</div>
		<div class="Game-systemstat" id="gameSystemStat">
			<div class="Game-systemstat-line">FPS: 65</div>
			<div class="Game-systemstat-line">Lat: 14</div>
		</div>
		<div class="Game-exp" id="gameExp" controller="GameExp"></div>
		<div class="Game-status" id="gameStatus" controller="GameStatus">
			<div class="Game-status-item" name="gsMinedBlock">
				Mined: <span class="Game-status-item-value" name="gsMined">-</span>
			</div>
			<div class="Game-status-item" name="gsTowersBlock">
				Towers: <span class="Game-status-item-value" name="gsTowers">-</span>
			</div>
			<div class="Game-status-item" name="gsKillsBlock">
				Kills: <span class="Game-status-item-value" name="gsKills">-</span>
			</div>
			<div class="Game-status-item" name="gsBlocksBlock">
				Blocks captured: <span class="Game-status-item-value" name="gsBlocks">-</span>
			</div>
			<div class="Game-status-item" name="gsScoreBlock">
				Score: <span class="Game-status-item-value" name="gsScore">-</span>
			</div>
			<div class="Game-status-item" name="gsRankBlock">
				Rank: <span class="Game-status-item-value" name="gsRank">-</span>
			</div>
		</div>
		<div class="Game-top _hidden" id="gameTop" controller="GameTop">
			<script type="text/template" id="gameTopTemplateBase">
				<div class="Game-top-line">
					<div class="Game-top-line-bgbase" style="background: { this.bg };"></div>
					<span class="Game-top-line-pos"># { this.position }</span>
					<span class="Game-top-line-nick">{ this.nick }</span>
					<span class="Game-top-line-score">{ this.score }</span>
				</div>
			</script>
			<script type="text/template" id="gameTopTemplateOriginal">
				<div class="Game-top-line">
					<div class="Game-top-line-bg" style="background: { this.bg }; width: { this.width }"></div>
					<span class="Game-top-line-nick">{ this.nick }</span>
					<span class="Game-top-line-score">{ this.score }</span>
				</div>
			</script>
		</div>
		<!-- <div class="Game-lives _hidden">
			<div class="Game-lives-line">
				<span class="Game-lives-line-nick">John:</span>
				<span class="Game-lives-line-score">35</span>
			</div>
			<div class="Game-lives-line">
				<span class="Game-lives-line-nick">John:</span>
				<span class="Game-lives-line-score">35</span>
			</div>
		</div> -->
		<div class="Game-minimap" id="gameMinimap" controller="GameMinimap">
			<canvas class="Game-minimap-img" name="mapImg"></canvas>
			<div class="Game-minimap-me" name="myPoint"></div>
		</div>

		<div class="Game-results _hidden" id="gameover" controller="GameOver">
			<div class="Game-results-block" id="gameoverBlock">

				<script type="text/template" id="gameoverOriginalTemplate">
					<div class="Game-results-header">Results</div>
					<div class="Game-results-round ">
						<div class="Game-results-line">
							<div class="Game-results-line-name">FIELD%:</div>
							<div class="Game-results-line-num">{ this.fieldPercent }</div>
							<div class="Game-results-line-mult">x{ this.k1 }</div>
							<div class="Game-results-line-equal">=</div>
							<div class="Game-results-line-sum">{ this.fieldPercentTotal }</div>
						</div>
						<div class="Game-results-line">
							<div class="Game-results-line-name">KILLS:</div>
							<div class="Game-results-line-num">{ this.kills }</div>
							<div class="Game-results-line-mult">x{ this.k2 }</div>
							<div class="Game-results-line-equal">=</div>
							<div class="Game-results-line-sum">{ this.killsTotal }</div>
						</div>
						<div class="Game-results-total">
							<div class="Game-results-total-name">Total</div>
							<div class="Game-results-line-equal">=</div>
							<div class="Game-results-line-sum">{ this.total }</div>
						</div>
					</div>
					<div class="Game-results-button _red" onclick="gameover.close()">Далее</div>
				</script>

				<script type="text/template" id="gameoverTowersTemplate">
					<div class="Game-results-header">Results</div>
					<div class="Game-results-round ">
						<div class="Game-results-line">
							<div class="Game-results-line-name">FIELD%:</div>
							<div class="Game-results-line-num">{ this.fieldPercent }</div>
							<div class="Game-results-line-mult">x{ this.k1 }</div>
							<div class="Game-results-line-equal">=</div>
							<div class="Game-results-line-sum">{ this.fieldPercentTotal }</div>
						</div>
						<div class="Game-results-line">
							<div class="Game-results-line-name">TOWERS:</div>
							<div class="Game-results-line-num">{ this.towers }</div>
							<div class="Game-results-line-mult">x{ this.k3 }</div>
							<div class="Game-results-line-equal">=</div>
							<div class="Game-results-line-sum">{ this.towersTotal }</div>
						</div>
						<div class="Game-results-line">
							<div class="Game-results-line-name">KILLS:</div>
							<div class="Game-results-line-num">{ this.kills }</div>
							<div class="Game-results-line-mult">x{ this.k2 }</div>
							<div class="Game-results-line-equal">=</div>
							<div class="Game-results-line-sum">{ this.killsTotal }</div>
						</div>
						<div class="Game-results-total">
							<div class="Game-results-total-name">Total</div>
							<div class="Game-results-line-equal">=</div>
							<div class="Game-results-line-sum">{ this.total }</div>
						</div>
					</div>
					<div class="Game-results-button _red" onclick="gameover.close()">Далее</div>
				</script>

				<script type="text/template" id="gameoverMinesTemplate">
					<div class="Game-results-header">Results</div>
					<div class="Game-results-round ">
						<div class="Game-results-line">
							<div class="Game-results-line-name">FIELD%:</div>
							<div class="Game-results-line-num">{ this.fieldPercent }</div>
							<div class="Game-results-line-mult">x{ this.k1 }</div>
							<div class="Game-results-line-equal">=</div>
							<div class="Game-results-line-sum">{ this.fieldPercentTotal }</div>
						</div>
						<div class="Game-results-line">
							<div class="Game-results-line-name">MINED:</div>
							<div class="Game-results-line-num">{ this.mined }</div>
							<div class="Game-results-line-mult">x{ this.k3 }</div>
							<div class="Game-results-line-equal">=</div>
							<div class="Game-results-line-sum">{ this.minedTotal }</div>
						</div>
						<div class="Game-results-line">
							<div class="Game-results-line-name">KILLS:</div>
							<div class="Game-results-line-num">{ this.kills }</div>
							<div class="Game-results-line-mult">x{ this.k2 }</div>
							<div class="Game-results-line-equal">=</div>
							<div class="Game-results-line-sum">{ this.killsTotal }</div>
						</div>
						<div class="Game-results-total">
							<div class="Game-results-total-name">Total</div>
							<div class="Game-results-line-equal">=</div>
							<div class="Game-results-line-sum">{ this.total }</div>
						</div>
					</div>
					<div class="Game-results-button _red" onclick="gameover.close()">Далее</div>
				</script>

				<!-- <div class="Game-results-pvp _hidden">
					<div class="Game-results-pvp-green">Player 342</div>
					<div class="Game-results-pvp-red">Enemy 123</div>
				</div> -->
			</div>
		</div>
	</div>

	<script>
		Controller.mountUI();
		login.auth();
	</script>

</body>
</html>