.deb () {
	outline: 1px dotted red;
}

.gradient (@col1, @col2) {
	background: @col1;
	background: linear-gradient(@col1, @col2);
}

.bg-col (@col: #000) {
	background: @col;
}

.bg-img (@url, @repeat: no-repeat, @x: 0, @y: 0) {
	background: url(@url) @repeat @x @y;
}

.bg-sprite-part (@width: 100px, @height: 100px, @x: 0, @y: 0) {
	background-position: @width * @x @height * @y;
}

.transition (@name: all, @time: 0.2s, @curve: ease) {
	transition: @name @time @curve;
}

.bounds (@width: 100px; @height: 100px) {
	width: @width;
	height: @height;
}

.borderbox () {
	box-sizing: border-box;
}

.unselectable (@what: none) {
	user-select: @what;
}

.clickable () {
	.unselectable;
	cursor: pointer;
}

.unclickable () {
	pointer-events: none;
}

.clearfix () {
	&:after {
		content: '';
		display: block;
		clear: both;
	}
}

.clear () {
	display: block;
	clear: both;
}

.ellipsis () {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.flex-wrap-line () {
	display: flex;
	flex-flow: row wrap;
}

.flex-wrap-column () {
	display: flex;
	flex-flow: column wrap;
}

.font (@color: #000, @size: 14px, @lineheight: 1.4em, @align: left) {
	font-size: @size;
	line-height: @lineheight;
	font-weight: normal;
	color: @color;
	text-align: @align;
}

.font-bold (@color: #000, @size: 14px, @lineheight: 1.4em, @align: left) {
	font-size: @size;
	line-height: @lineheight;
	font-weight: bold;
	color: @color;
	text-align: @align;
}

.font-header (@color: #000, @size: 14px, @lineheight: 1.4em, @align: left) {
	font-family: 'Arial';
	font-size: @size;
	line-height: @lineheight;
	font-weight: bold;
	color: @color;
	text-align: @align;
}

.inline-block-right (@margin: 10px) {
	display: inline-block;
	margin-left: @margin;
}

.inline-block-left (@margin: 10px) {
	display: inline-block;
	margin-right: @margin;
}

// absolute commands

.absolute-rect(@left: 0px, @top: 0px, @width: 0px, @height: 0px) {
	position: absolute;
	left: @left;
	top: @top;
	width: @width;
	height: @height;
}

.absolute-rect-right(@right: 0px, @top: 0px, @width: 0px, @height: 0px) {
	position: absolute;
	right: @right;
	top: @top;
	width: @width;
	height: @height;
}

.absolute-rect-bottom(@left: 0px, @bottom: 0px, @width: 0px, @height: 0px) {
	position: absolute;
	left: @left;
	bottom: @bottom;
	width: @width;
	height: @height;
}

.absolute-rect-bottom-right(@right: 0px, @bottom: 0px, @width: 0px, @height: 0px) {
	position: absolute;
	right: @right;
	bottom: @bottom;
	width: @width;
	height: @height;
}

.absolute-bounds (@top: 0px, @right: 0px, @bottom: 0px, @left: 0px) {
	position: absolute;
	top: @top;
	right: @right;
	bottom: @bottom;
	left: @left;
}

.absolute-center-x (@width) {
	position: absolute;
	left: 50%;
	width: @width;
	margin-left: -@width / 2;
}

.absolute-center (@width, @height) {
	position: absolute;
	left: 50%;
	top: 50%;
	width: @width;
	height: @height;
	margin-left: -@width / 2;
	margin-top: -@height / 2;
}

// sprites

.button-sprite (@imgurl, @height) {
	background-image: url(@imgurl);
	background-position: 0 0;
	&:hover {
		background-position: 0 -@height;
	}
	&:active {
		background-position: 0 -2 * @height;
	}
}

// floating

.float-column (@width, @margin) {
	float: left;
	width: @width;
	margin-right: @margin;
	&:last-child {
		margin-right: 0;
	}
}
.float-column-right (@width, @margin) {
	float: right;
	width: @width;
	margin-right: @margin;
	&:last-child {
		margin-right: 0;
	}
}