* {
	padding: 0; margin: 0;
	border: none; outline: none;
	background: transparent;
    box-sizing: border-box;
}
body {
	font-size: 14px; line-height: 1.4em; color: #333;
	font-family: 'Arial'; font-weight: normal;
	text-align: left; text-decoration: none;
}
a {
	cursor: pointer;
}